.wrapper {
    --gap: 2rem;

    header,
    .animation-control-panel {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    header {
        align-items: center;
    }

    .animation-control-panel {
        align-items: flex-end;

        app-graph-animator {
            margin-inline-start: auto;
        }
    }
}
