<div class="wrapper">
    <app-graph-header
        [graphTitle]="graphTitle"
        [graphVisualizerComponent]="graphVisualizerComponent"
        [regenerateButtonEnabled]="regenerateButtonEnabled"
        [downloadButtonEnabled]="downloadButtonEnabled"
        [uploadButtonEnabled]="uploadButtonEnabled"
        (regenerateButtonClick)="regenerateButtonClickHandler()"
        (uploadButtonClick)="uploadButtonClickHandler($event)"
    ></app-graph-header>

    <div class="animation-control-panel">
        <form *ngIf="formEnabled" class="horizontal" (submit)="formSubmitHandler($event)">
            <label>
                Start Node
                <input #startNodeInput type="number" value="1" min="1" [max]="nodes?.size" />
            </label>

            <label>
                Target Node
                <input #targetNodeInput type="number" value="5" min="1" [max]="nodes?.size" />
            </label>

            <button type="submit">Initialize Animation</button>
        </form>

        <app-graph-animator
            #graphAnimatorComponent
            [graphVisualizerComponent]="graphVisualizerComponent"
        ></app-graph-animator>
    </div>

    <app-graph-visualizer
        #graphVisualizerComponent
        [graphId]="graphId"
        [layout]="layout"
        [isDirected]="true"
    ></app-graph-visualizer>
</div>
