.queue-container {
    --cell-size: 5ch;
    --gap: 1rem;
    --border: 0 solid var(--color--table-border);
    --border-width: 3px;

    position: relative;

    padding-block: 4rem;

    .queue {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--cell-size), 1fr));
        gap: var(--gap);

        .cell {
            display: flex;
            flex-direction: column;

            &--hidden {
                visibility: hidden;
            }

            &__value,
            &__index {
                border: var(--border);

                text-align: center;
            }

            &__value {
                border-width: var(--border-width);
            }

            &__index {
                border-width: 0 var(--border-width) var(--border-width) var(--border-width);
            }

            &:hover {
                background-color: var(--color--table-body-background--hover);
                color: var(--color--table-body-foreground--hover);
            }
        }
    }

    .popper {
        background-color: var(--color--popper-background);
        color: var(--color--popper-foreground);

        position: absolute;

        padding: 0.5rem 1rem;

        &--front {
        }

        &--rear {
            transform: translate(-100%, 10px);
        }
    }
}
