<header>
    <div class="logo">
        <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Data Structures</a>
    </div>
    <nav>
        <ul>
            <li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
            <li><a routerLinkActive="active" routerLink="/playground">Playground</a></li>
            <li><a routerLinkActive="active" routerLink="/chapter02">Chapter 02</a></li>
            <li><a routerLinkActive="active" routerLink="/chapter04">Chapter 04</a></li>
        </ul>
    </nav>
</header>
