<header [ngClass]="{'nav-expanded': navExpanded}">
    <div class="logo">
        <a routerLink="/">Data Structures</a>
    </div>

    <div class="overlay"></div>

    <button class="hamburger" (click)="navExpanded = !navExpanded">
        <icon-hamburger *ngIf="!navExpanded"></icon-hamburger>
        <icon-close *ngIf="navExpanded"></icon-close>
    </button>

    <nav>
        <ul>
            <ng-container *ngFor="let navigation of navigations">
                <ng-container *ngIf="!navigation.isMega">
                    <li>
                        <ng-container *ngTemplateOutlet="link; context: {$implicit: navigation}"></ng-container>
                    </li>
                </ng-container>

                <ng-container *ngIf="navigation.isMega">
                    <li class="mega" [ngClass]="{'mega-expanded': navigation.isExpanded}">
                        <div
                            class="title"
                            [ngClass]="{active: !!navigation.isActive}"
                            (click)="navigation.isExpanded = !navigation.isExpanded"
                        >
                            {{ navigation.title }}
                        </div>
                        <div class="links">
                            <ng-container *ngFor="let subNavigation of navigation.subNavigations">
                                <ng-container
                                    *ngTemplateOutlet="link; context: {$implicit: subNavigation}"
                                ></ng-container>
                            </ng-container>
                        </div>
                    </li>
                </ng-container>
            </ng-container>
        </ul>
    </nav>
</header>

<ng-template #link let-navigation>
    <a
        routerLinkActive="active"
        [routerLink]="navigation.routerLink"
        [routerLinkActiveOptions]="{exact: !!navigation.exact}"
        >{{ navigation.title }}</a
    >
</ng-template>
