header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 2rem;

    app-animator {
        margin-inline-start: auto;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    app-stack {
        min-width: 30rem;
    }

    .expressions {
        flex: 1;
    }
}
