<div class="wrapper">
    <h1>Tree Traversal</h1>

    <section *ngFor="let method of methods" [id]="method + '-section'">
        <app-graph-search
            [graphTitle]="method"
            [graphId]="method"
            [layout]="Layout.TREE"
            [graphGenerator]="randomTreeGenerator"
            [regenerateButtonEnabled]="true"
            [downloadButtonEnabled]="true"
            [uploadButtonEnabled]="true"
            [formEnabled]="false"
            (generateAnimationStepsEventEmitter)="generateAnimationSteps($event, method)"
        ></app-graph-search>
    </section>
</div>
