<div class="wrapper">
    <h1>Tree Traversal</h1>

    <section id="infix-section">
        <app-graph-search
            graphTitle="Infix"
            graphId="infix"
            [layout]="Layout.SEQUENTIAL"
            [graphGenerator]="randomTreeGenerator"
            [regenerateButtonEnabled]="true"
            [downloadButtonEnabled]="true"
            [uploadButtonEnabled]="true"
            (generateAnimationStepsEventEmitter)="generateAnimationSteps($event, 'infix')"
        ></app-graph-search>
    </section>

    <section id="prefix-section">
        <app-graph-search
            graphTitle="Prefix"
            graphId="prefix"
            [layout]="Layout.SEQUENTIAL"
            [graphGenerator]="randomTreeGenerator"
            [regenerateButtonEnabled]="true"
            [downloadButtonEnabled]="true"
            [uploadButtonEnabled]="true"
            (generateAnimationStepsEventEmitter)="generateAnimationSteps($event, 'prefix')"
        ></app-graph-search>
    </section>

    <section id="suffix-section">
        <app-graph-search
            graphTitle="Suffix"
            graphId="suffix"
            [layout]="Layout.SEQUENTIAL"
            [graphGenerator]="randomTreeGenerator"
            [regenerateButtonEnabled]="true"
            [downloadButtonEnabled]="true"
            [uploadButtonEnabled]="true"
            (generateAnimationStepsEventEmitter)="generateAnimationSteps($event, 'suffix')"
        ></app-graph-search>
    </section>
</div>
