<div class="wrapper">
    <ul *ngFor="let text of textBlocks" class="text">
        <li *ngFor="let line of text.lines" class="line">
            <div *ngIf="!!line.codeUrl" class="code">
                <app-monaco [codeUrl]="line.codeUrl"></app-monaco>
            </div>

            <div *ngIf="!!line.parts" class="parts" [dir]="line.isRtl ? 'rtl' : 'ltr'">
                <ng-container *ngFor="let part of line.parts">
                    <ng-container [ngSwitch]="part.mode">
                        <ng-container *ngSwitchCase="TextMode.LATEX">
                            <app-tex class="part mode--latex" [equation]="part.content"></app-tex>
                        </ng-container>
                        <ng-container *ngSwitchDefault>
                            <span class="part mode--normal">
                                {{ part.content }}
                            </span>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </li>
    </ul>
</div>
