<div class="animation-control-panel">
    <button class="button button--reset" [disabled]="isResetButtonDisabled" (click)="resetButtonClickHandler()">
        <icon-reset></icon-reset>
    </button>
    <button
        class="button button--step-back"
        [disabled]="isStepBackButtonDisabled"
        (click)="stepBackButtonClickHandler()"
    >
        <icon-previous></icon-previous>
    </button>
    <button class="button button--play" [disabled]="isPlayButtonDisabled" (click)="playButtonClickHandler()">
        <icon-play></icon-play>
    </button>
    <button class="button button--pause" [disabled]="isPauseButtonDisabled" (click)="pauseButtonClickHandler()">
        <icon-pause></icon-pause>
    </button>
    <button
        class="button button--step-forward"
        [disabled]="isStepForwardButtonDisabled"
        (click)="stepForwardButtonClickHandler()"
    >
        <icon-next></icon-next>
    </button>
</div>
