<div class="wrapper">
    <div #graphElementRef [id]="graphId" class="graph-container"></div>

    <div class="settings">
        <div class="button-group">
            <span class="title">Layout</span>
            <button [ngClass]="{active: layout === Layout.FORCE}" (click)="layoutButtonClickHandler(Layout.FORCE)">
                force
            </button>
            <button [ngClass]="{active: layout === Layout.GRID}" (click)="layoutButtonClickHandler(Layout.GRID)">
                grid
            </button>
            <button [ngClass]="{active: layout === Layout.RADIAL}" (click)="layoutButtonClickHandler(Layout.RADIAL)">
                radial
            </button>
            <button
                [ngClass]="{active: layout === Layout.SEQUENTIAL}"
                (click)="layoutButtonClickHandler(Layout.SEQUENTIAL)"
            >
                sequential
            </button>
            <button
                [ngClass]="{active: layout === Layout.HIERARCHICAL}"
                (click)="layoutButtonClickHandler(Layout.HIERARCHICAL)"
            >
                hierarchical
            </button>
            <button [ngClass]="{active: layout === Layout.TREE}" (click)="layoutButtonClickHandler(Layout.TREE)">
                tree
            </button>
        </div>

        <div class="button-group">
            <span class="title">Direction</span>
            <button
                [disabled]="isDirectionSettingsDisabled(layout)"
                [ngClass]="{active: direction === Direction.TB}"
                (click)="directionButtonClickHandler(Direction.TB)"
            >
                tb
            </button>
            <button
                [disabled]="isDirectionSettingsDisabled(layout)"
                [ngClass]="{active: direction === Direction.BT}"
                (click)="directionButtonClickHandler(Direction.BT)"
            >
                bt
            </button>
            <button
                [disabled]="isDirectionSettingsDisabled(layout)"
                [ngClass]="{active: direction === Direction.LR}"
                (click)="directionButtonClickHandler(Direction.LR)"
            >
                lr
            </button>
            <button
                [disabled]="isDirectionSettingsDisabled(layout)"
                [ngClass]="{active: direction === Direction.RL}"
                (click)="directionButtonClickHandler(Direction.RL)"
            >
                rl
            </button>
        </div>

        <div class="button-group">
            <span class="title">Selector</span>
            <button
                [ngClass]="{active: selector === Selector.DEFAULT}"
                (click)="selectorButtonClickHandler(Selector.DEFAULT)"
            >
                default
            </button>
            <button
                [ngClass]="{active: selector === Selector.RECTANGLE}"
                (click)="selectorButtonClickHandler(Selector.RECTANGLE)"
            >
                rectangle
            </button>
            <button
                [ngClass]="{active: selector === Selector.LASSO}"
                (click)="selectorButtonClickHandler(Selector.LASSO)"
            >
                lasso
            </button>
        </div>

        <div class="button-group">
            <span class="title">Snapping</span>
            <button [ngClass]="{active: isSnappingEnabled}" (click)="snappingButtonClickHandler()">
                {{ isSnappingEnabled ? 'enabled' : 'disabled' }}
            </button>
        </div>

        <div class="button-group">
            <span class="title">Rewiring</span>
            <button [ngClass]="{active: isRewiringEnabled}" (click)="rewiringButtonClickHandler()">
                {{ isRewiringEnabled ? 'enabled' : 'disabled' }}
            </button>
        </div>

        <div class="button-group">
            <span class="title">ConnectNodes</span>
            <button [ngClass]="{active: isConnectNodesEnabled}" (click)="connectNodesButtonClickHandler()">
                {{ isConnectNodesEnabled ? 'enabled' : 'disabled' }}
            </button>
        </div>
    </div>
</div>
