.wrapper {
    --gap: 2rem;
    --padding-block: 2rem;
	
	.graph-container:focus-within {
        outline: 0.5rem solid var(--color--primary);
    }

    .graph-container {
        min-height: 60rem;
    }

    .settings {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .button-group {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;

            .title {
            }

            button {
                &.active {
                    background-color: var(--color--primary-fade);
                    color: var(--color--primary);

                    font-weight: 700;
                }
            }
        }
    }
}
