<div class="wrapper">
    <h1>Chapter 02</h1>

    <!--    <h2 id="examples">Examples</h2>-->
    <!--    <ng-container *ngFor="let example of chapter02Service.EXAMPLES; let exampleIndex = index">-->
    <!--        <app-example [example]="example" [exampleIndex]="exampleIndex"></app-example>-->
    <!--    </ng-container>-->

    <h2 id="problems">Problems</h2>
    <ng-container *ngFor="let problem of chapter02Service.PROBLEMS; let problemIndex = index">
        <app-problem
            [problem]="problem"
            [problemIndex]="problemIndex"
            [isLast]="problemIndex === chapter02Service.PROBLEMS.length - 1"
        ></app-problem>
    </ng-container>
</div>
