<div class="wrapper">
    <h1>Linked List</h1>

    <ng-container *ngFor="let example of examples; index as index">
        <section id="example{{ index + 1 }}-section">
            <app-chapter07-example
                graphTitle="Example {{ index + 1 }}"
                graphId="example{{ index + 1 }}"
                [graphGenerator]="example.graphGenerator"
                (generateAnimationStepsEventEmitter)="generateAnimationSteps($event, index)"
            ></app-chapter07-example>
        </section>
    </ng-container>
</div>
