section {
    h3,
    .spoiler {
        padding: 1rem 2rem;
    }

    h3 {
        background-color: var(--color--outer-spoiler-headline-background);
        color: var(--color--outer-spoiler-headline-foreground);

        display: flex;
        align-items: center;
        gap: 1rem;

        cursor: pointer;

        * {
            font-size: 1.2em;
        }
    }

    .spoiler {
        display: flex;
        flex-direction: column;

        &.collapsed {
            display: none;
        }
    }

    > .spoiler {
        border: 2px solid var(--color--outer-spoiler-border);

        > .spoiler {
            border: 2px solid var(--color--inner-spoiler-border);
        }
    }
}
