<div class="wrapper">
    <h1>Depth-first Search</h1>

    <section id="intro-section">
        <header>
            <h2>Intro</h2>
        </header>

        <p>
            Depth-first search (DFS) is an algorithm for traversing or searching tree or graph data structures. The
            algorithm starts at the root node (selecting some arbitrary node as the root node in the case of a graph)
            and explores as far as possible along each branch before backtracking.
        </p>

        <p>
            A version of depth-first search was investigated in the 19th century by French mathematician Charles Pierre
            Trémaux as a strategy for solving mazes.
        </p>
    </section>

    <section id="graph-section">
        <header>
            <h2>Graph</h2>
            <app-graph-animator #graphAnimatorComponent></app-graph-animator>
        </header>

        <app-graph-visualizer
            #graphVisualizerComponent
            [layout]="Layout.RADIAL"
            [isDirected]="true"
        ></app-graph-visualizer>
    </section>
</div>
