.wrapper {
    display: flex;
    flex-direction: column;
	gap: 2rem;

    padding-block: 2rem;

    .command-palette {
        display: flex;
        justify-content: center;
        gap: 2rem;

        button {
            &.enqueue {
                background-color: var(--color--command-palette-enqueue-button-background);
                color: var(--color--command-palette-enqueue-button-foreground);
            }

            &.dequeue {
                background-color: var(--color--command-palette-dequeue-button-background);
                color: var(--color--command-palette-dequeue-button-foreground);
            }

            &.reset {
                background-color: var(--color--command-palette-reset-button-background);
                color: var(--color--command-palette-reset-button-foreground);
            }
        }
    }

    .error {
        background-color: var(--color--danger-fade);
        color: var(--color--danger);

        padding: 1rem;
    }
}
