// FONT FACES
@font-face {
    font-family: 'Samim';
    src: local('Samim'), url(./assets/fonts/samim-font-v4.0.5/samim.woff2) format('woff2');
}

@font-face {
    font-family: 'Samim';
    src: local('Samim'), url(./assets/fonts/samim-font-v4.0.5/samim-medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Samim';
    src: local('Samim'), url(./assets/fonts/samim-font-v4.0.5/samim-bold.woff2) format('woff2');
    font-weight: 700;
}

// VARIABLES
:root {
    --primary-hue: 220;
    --secondary-hue: 180;
    --success-hue: 120;
    --warning-hue: 20;
    --danger-hue: 0;

    --color--primary: hsl(var(--primary-hue), 100%, 60%);
    --color--primary-fade: hsl(var(--primary-hue), 100%, 94%);
    --color--primary-opposite: hsl(0, 0%, 98%);

    --color--secondary: hsl(var(--secondary-hue), 50%, 50%);
    --color--secondary-fade: hsl(var(--secondary-hue), 50%, 50%);
    --color--secondary-opposite: hsl(0, 0%, 98%);

    --color--warning: hsl(var(--warning-hue), 100%, 40%);
    --color--warning-fade: hsl(var(--warning-hue), 100%, 40%);
    --color--warning-opposite: hsl(0, 0%, 98%);

    --color--success: hsl(var(--success-hue), 100%, 40%);
    --color--success-fade: hsl(var(--success-hue), 100%, 40%);
    --color--success-opposite: hsl(0, 0%, 98%);

    --color--danger: hsl(var(--danger-hue), 100%, 30%);
    --color--danger-fade: hsl(var(--danger-hue), 100%, 90%);
    --color--danger-opposite: hsl(0, 0%, 98%);

    --color--body-background: hsl(0, 0%, 98%);
    --color--body-foreground: hsl(0, 0%, 10%);

    --color--main-background: hsl(var(--primary-hue), 18%, 12%);
    --color--main-foreground: hsl(0, 0%, 98%);

    --color--overlay-background: hsla(0, 0%, 0%, 0.94);
    --color--overlay-foreground: hsl(0, 0%, 98%);

    --color--header-logo-background: transparent;
    --color--header-logo-foreground: inherit;
    --color--header-logo-background--hover: transparent;
    --color--header-logo-foreground--hover: hsl(var(--primary-hue), 100%, 60%);

    --color--header-nav-background: transparent;
    --color--header-nav-foreground: inherit;
    --color--header-nav-background--hover: hsl(var(--primary-hue), 0%, 94%);
    --color--header-nav-foreground--hover: var(--color--header-nav-foreground);
    --color--header-nav-background--hover-mega: hsl(var(--primary-hue), 0%, 90%);
    --color--header-nav-foreground--hover-mega: var(--color--header-nav-foreground--hover);
    --color--header-nav-background--active: var(--color--header-nav-background);
    --color--header-nav-foreground--active: var(--color--primary);
    --color--header-nav-background--active-hover: hsl(var(--primary-hue), 50%, 94%);
    --color--header-nav-foreground--active-hover: var(--color--header-nav-foreground--active);

    --color--header-nav-background--mobile: transparent;
    --color--header-nav-foreground--mobile: inherit;
    --color--header-nav-background--hover-mobile: hsl(var(--primary-hue), 0%, 16%);
    --color--header-nav-foreground--hover-mobile: var(--color--header-nav-foreground);
    --color--header-nav-background--active-mobile: var(--color--header-nav-background);
    --color--header-nav-foreground--active-mobile: var(--color--primary);
    --color--header-nav-background--active-hover-mobile: hsl(var(--primary-hue), 20%, 16%);
    --color--header-nav-foreground--active-hover-mobile: var(--color--header-nav-foreground--active);

    --color--header-hamburger-background: var(--color--header-nav-background);
    --color--header-hamburger-foreground: var(--color--header-nav-foreground);
    --color--header-hamburger-background--hover: var(--color--header-nav-background--hover);
    --color--header-hamburger-foreground--hover: var(--color--header-nav-foreground--hover);
    --color--header-hamburger-background--expanded: var(--color--header-nav-background--mobile);
    --color--header-hamburger-foreground--expanded: var(--color--header-nav-foreground--mobile);
    --color--header-hamburger-background--expanded-hover: var(--color--header-nav-background--hover-mobile);
    --color--header-hamburger-foreground--expanded-hover: var(--color--header-nav-foreground--hover-mobile);

    --color--footer-background: hsl(var(--primary-hue), 18%, 16%);
    --color--footer-foreground: hsl(0, 0%, 98%);

    --color--input-border: hsl(0, 0%, 80%);

    --color--button-disabled-background: hsl(0, 0%, 70%);
    --color--button-disabled-foreground: hsl(0, 0%, 10%);

    --color--table-border: hsl(var(--primary-hue), 40%, 80%);
    --color--table-header-background: var(--color--table-border);
    --color--table-header-foreground: inherit;
    --color--table-body-background--hover: hsl(var(--primary-hue), 40%, 90%);
    --color--table-body-foreground--hover: inherit;

    --color--outer-spoiler-border: var(--color--secondary);
    --color--outer-spoiler-headline-background: var(--color--outer-spoiler-border);
    --color--outer-spoiler-headline-foreground: var(--color--secondary-opposite);

    --color--inner-spoiler-border: var(--color--primary);
    --color--inner-spoiler-headline-background: var(--color--inner-spoiler-border);
    --color--inner-spoiler-headline-foreground: var(--color--primary-opposite);

    --color--command-palette-enqueue-button-background: var(--color--primary);
    --color--command-palette-enqueue-button-foreground: var(--color--primary-opposite);
    --color--command-palette-dequeue-button-background: var(--color--warning);
    --color--command-palette-dequeue-button-foreground: var(--color--warning-opposite);
    --color--command-palette-reset-button-background: var(--color--danger);
    --color--command-palette-reset-button-foreground: var(--color--danger-opposite);

    --color--graph-regenerate-button-background: var(--color--danger-fade);
    --color--graph-regenerate-button-foreground: var(--color--danger);

    --color--animation-control-panel-reset-button-background: var(--color--danger);
    --color--animation-control-panel-reset-button-foreground: var(--color--danger-opposite);
    --color--animation-control-panel-step-back-button-background: var(--color--secondary);
    --color--animation-control-panel-step-back-button-foreground: var(--color--secondary-opposite);
    --color--animation-control-panel-play-button-background: var(--color--success);
    --color--animation-control-panel-play-button-foreground: var(--color--success-opposite);
    --color--animation-control-panel-pause-button-background: var(--color--warning);
    --color--animation-control-panel-pause-button-foreground: var(--color--warning-opposite);
    --color--animation-control-panel-step-forward-button-background: var(--color--secondary);
    --color--animation-control-panel-step-forward-button-foreground: var(--color--secondary-opposite);

    --color--popper-background: hsl(0, 0%, 20%);
    --color--popper-foreground: hsl(0, 0%, 98%);

    --full-width: 120rem;
    --full-width-padding-inline: calc(max(100% - var(--full-width), 4rem) / 2);

    --animation--duration--fast: 0.1s;
    --animation--duration--normal: 0.5s;
    --animation--duration--slow: 1s;
}

// RESET
*,
*::before,
*::after {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: Samim, Consolas, sans-serif;
}

ul {
    list-style: none;
}

a {
    color: inherit;

    text-decoration: none;
}

button {
    padding: 0.75rem 1.5rem;

    border: none;
    border-radius: 999rem;

    &:not([disabled]) {
        cursor: pointer;

        &:hover {
            filter: brightness(90%);
        }
    }

    &[disabled] {
        background-color: var(--color--button-disabled-background) !important;
        color: var(--color--button-disabled-foreground) !important;
    }
}

svg {
    fill: currentColor !important;

    display: block;

    width: 1em !important;
    height: 1em !important;
}

// MAIN
body {
    background-color: var(--color--body-background);
    color: var(--color--body-foreground);

    width: 100%;

    padding-inline: var(--full-width-padding-inline);

    font-size: 1.6rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 4rem);

    padding-block: var(--padding-block, 4rem);
}

form {
    --gap: 1.2rem;

    label {
        display: flex;
        flex-direction: column;

        min-width: 23ch;

        input {
            padding: 0.5rem;

            border: 1px solid var(--color--input-border);
            border-radius: 0.3rem;
        }
    }

    button {
        &[type='submit'] {
            background-color: var(--color--success);
            color: var(--color--success-opposite);
        }
    }

    &.vertical {
        display: flex;
        flex-direction: column;
	    align-items: flex-start;
        gap: var(--gap);

        width: max-content;
    }

    &.horizontal {
        display: flex;
        align-items: flex-end;
        gap: var(--gap);
    }
}

.button {
    font-weight: 700;

    &--regenerate {
        background-color: var(--color--graph-regenerate-button-background);
        color: var(--color--graph-regenerate-button-foreground);
    }
}
